<template name="aboutUs">
	<div>
		<div class="row about-us-row">
			<div class="col-sm-3">
				<img src="http://www.themodzoo.com/images/staff/mod_zoo_bill.jpg" class="about-us-pic" alt="" width="150">
			</div>
			<div class="col-sm-9">
				Bill Owen has made a name for himself in the modding community, not only for the top quality projects he completes, but through his willingness to share his knowledge and teach others his craft. Since 2001, Bill’s company <a>Mnpctech</a> has modified computer cases into unique custom designs for clientele around the world.
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-9">
				Trevor has been surrounded by computers almost his entire life starting in the 80’s when his family got a TRS-80. He has always been interested in computer hardware and prefers to build his own PCs. In 2009, he became fascinated with water cooling and built his first custom water cooled system that won the Overclock.net Mod of the Month. Trevor currently does Graphic Design for a living but used to work in IT as a Storage/Server specialist as well as years in various CAD/CAM and Engineering positions.
			</div>
			<div class="col-sm-3">
				<img src="http://themodzoo.com/images/staff/mod_zoo_trevor.jpg" class="about-us-pic" alt="" width="150">
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-3">
				<img src="http://www.themodzoo.com/images/staff/mod_zoo_jesse.jpg" class="about-us-pic" alt="" width="150">
			</div>
			<div class="col-sm-9">
				Jesse is your average system builder who likes to try out new ideas and things in his builds. Given the apartment life all his mods are living room friendly and occasionally might cause headaches for the neighbors. He is a big fan of water cooled builds, and loves to incorporate the biggest possible radiator in a build. A man of crazy ideas and no garage (thank God for that).
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-9">
				Greg was in the forefront of case modding, when every case was beige. He believes that airflow is the key to computers, and isn’t afraid to pop a 120mm blowhole in a case to prove his point. Greg’s company, Smart Computer Store, helps the community with PCs for senior citizens and leads the way in responsible recycling.
			</div>
			<div class="col-sm-3">
				<img src="http://themodzoo.com/images/staff/mod_zoo_pcpackrat.jpg" class="about-us-pic" alt="" width="150">
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-3">
				<img src="http://themodzoo.com/images/staff/mod_zoo_mosquito.jpg" class="about-us-pic" alt="" width="150">
			</div>
			<div class="col-sm-9">
				Chris Albee has been building custom computer cases for the past several years. Chris has been venturing into the world of woodworking, to create many unique and one of a kind case designs. He appreciates well crafted hand and power tools. You can usually find Chris in our forums offering advice or encouragement to fellow members.
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-9">
				Jeremy first met Bill in the early 2000’s at one of the premere modding sites that has since faded into the past, PimpRig.&nbsp; He’s a computer nut, father, husband, bassist and IT professional that has held onto his love for all things modded and is now sharing that love by spreading the word of The ModZoo through the Facebook fanpage and Twitter feed.
			</div>
			<div class="col-sm-3">
				<img src="http://www.themodzoo.com/images/staff/mod_zoo_jeremy.jpg" class="about-us-pic" alt="" width="154" height="182">
			</div>
		</div>
		<div class="row about-us-row">
			<div class="col-sm-3">
				<img src="http://themodzoo.com/images/staff/mod_zoo_stu.jpg" class="about-us-pic" alt="" width="150">
			</div>
			<div class="col-sm-9">
				Stuart’s interest in computers started as a child when he was lured by the glow of a neighbor’s mac. It has grow about-us-rown since then and coupled with Stuart’s experiences in manufacturing, primarily pneumatics and electronics, modding seemed to be a perfect fit. He was delighted in 2013 with the discovery of The Mod Zoo with several modders in the MN twin cities area and looks forward to sharing his knowledge in anyway he can as well as picking up some new tricks along the way.
			</div>
		</div>
	</div>
</template>

