script
	require.config({
	  baseUrl: "../js"
	});

	require(['jquery', 'socket.io', 'datatables'], function($, io, dataTable){
		var listObj = "#{AllCourseLists}";
		console.log(listObj);
	    listObj = JSON.parse(listObj.replace(/&quot;/ig,'"'));
	    var listProp = [];
	    var list = ["First", "Second", "Third", "Forth", "Masters"];
	    console.log("hello");
	    for(var i = 0;i<listObj.length;i++){
	      listProp.push(listObj[i].CourseListId)
	    }

	    $('input[type=list]').w2field('list', { items: listProp });

		var years="#{Degree.years}";
		for(var i = 0; i<years; i++){
			$('#years').append(createYear(num));
		}

	var createYear = function(num){
		return "<div class='row'><div class='panel panel-primary'><div class='panel-heading'>" + list[num] + "Year Course List</div><div class='panel-body'><div class='w2ui-label'> List&colon; </div><div class='w2ui-field'<input type='list'style='width: 200px; box-sizing: border-box; padding-right: 14px;'placeholder='' class='w2field'/><div style='color: rgb(0, 0, 0); font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px;padding: 3px; margin-top: 1px; margin-bottom: 1px; margin-left: -16px;' class='w2ui-field-helper'></div><span class='legend'></span><div style='height:30px;'></div></div></div></div></div>"
		}
	});