<template name="catagories">
	<div class="catagories">
		<h3 class="widget-title">CATEGORIES</h3>
		<ul>
			<li class=""><a href="{{pathFor 'podcastPosts'}}">Podcast</a></li>

			<li class=""><a href="{{pathFor 'reviewPosts'}}">Reviews</a>
				<ul class="children">
					<li class=""><a href="#">Cases</a>
						<ul class="children">
							<li class=""><a href="#">Full Tower</a>
							</li>
							<li class=""><a href="#">HTPC</a>
							</li>
							<li class=""><a href="#">ITX</a>
							</li>
							<li class=""><a href="#">Micro ATX</a>
							</li>
							<li class=""><a href="#">Mid Tower</a>
							</li>
						</ul>
					</li>
					<li class=""><a href="">Cooling</a>
						<ul class="children">
							<li class=""><a href="">Fan Controller</a>
							</li>
							<li class=""><a href="">Watercooling</a>
								<ul class="children">
									<li class=""><a href="#">Radiators</a>
									</li>
									<li class=""><a href="#">Reservoirs</a>
									</li>
									<li class=""><a href="#">Waterblocks</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class=""><a href="#">Hardware</a>
						<ul class="children">
							<li class=""><a href="#">Motherboards</a>
							</li>
						</ul>
					</li>
					<li class=""><a href="#">Modding Equipment</a>
					</li>
					<li class=""><a href="#">Peripheral</a>
						<ul class="children">
							<li class=""><a href="#">Headphones</a>
							</li>
							<li class=""><a href="#">Keyboard</a>
							</li>
							<li class=""><a href="#">Mice</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class=""><a href="#">Tech News</a>
			</li>
			<li class=""><a href="#">Uncategorized</a>
			</li>
		</ul>
	</div>
</template>