<template name="manufacturers">
	<div id="manufacturers" >
		<h3>MANUFACTURERS</h3>
		<div class="manufacturer-tags">
			<a href="#" class="manufacture">Antec</a>
			<a href="#" class="manufacture">Azza</a>
			<a href="#" class="manufacture">Biostar</a>
			<a href="#" class="manufacture">BitFenix</a>
			<a href="#" class="manufacture">Caselabs</a>
			<a href="#" class="manufacture">Cooler Master</a>
			<a href="#" class="manufacture">Cougar</a>
			<a href="#" class="manufacture">Cubitek</a>
			<a href="#" class="manufacture">DazMode</a>
			<a href="#" class="manufacture">Deep Cool</a>
			<a href="#" class="manufacture">Enermax</a>
			<a href="#" class="manufacture">EVGA</a>
			<a href="#" class="manufacture">Fractal Design</a>
			<a href="#" class="manufacture">FUNC</a>
			<a href="#" class="manufacture">Gigabyte</a>
			<a href="#" class="manufacture">GX Gaming</a>
			<a href="#" class="manufacture">InWin</a>
			<a href="#" class="manufacture">Lian Li</a>
			<a href="#" class="manufacture">Mayhems</a>
			<a href="#" class="manufacture">Modright</a>
			<a href="#" class="manufacture">NZXT</a>
			<a href="#" class="manufacture">Phanteks</a>
			<a href="#" class="manufacture">Rosewill</a>
			<a href="#" class="manufacture">Sharkoon</a>
			<a href="#" class="manufacture">Silverstone</a>
			<a href="#" class="manufacture">Swiftech</a>
			<a href="#" class="manufacture">Thermaltake</a>
			<a href="#" class="manufacture">XS-PC</a>
		</div>
	</div>
</template>