<template name="siteFooter">
	<div class="container-fluid">
		<div class="row footer-body">
			<div class="col-sm-12"></div>
		</div>
		<div class="row footer-bottom">
		<div class="container">

				<div class="site-info col-sm-4">
					Copyright © 2015 Sinep Studios						
				</div>
				<div class="footer-menu col-sm-8">
					<ul class="pull-right">
						<li>
							<a href="{{pathFor 'home'}}">Home</a>
						</li>
						<li>
							<a href="{{pathFor 'aboutUs'}}">About Us</a>
						</li>
					</ul>
				</div>
			</div><!-- #footer-bottom -->
		</div>
	</div><!-- .container -->

</template>
