  <template name="header">
    <div class="row header-logo-div">
      <img class="header-logo">
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li class="{{activeRouteClass 'home'}}">
            <a href="/">Home</a>
          </li>
          <!-- {{#if currentUser}} -->
            <li class="{{activeRouteClass 'games'}}">
              <a href="{{pathFor 'games'}}">Games</a>
            </li>
            <li class="{{activeRouteClass 'leagues'}}">
              <a href="{{pathFor 'leagues'}}">Leagues</a>
            </li>
            <li class="{{activeRouteClass 'players'}}">
              <a href="{{pathFor 'players'}}">Players</a>
            </li>
            <li class="{{activeRouteClass 'friends'}}">
              <a href="{{pathFor 'friends'}}">Friends</a>
            </li>
            <li class="dropdown">
              {{> notifications}}
            </li>
          <!-- {{/if}} -->
          <li class="{{activeRouteClass 'aboutUs'}}">
            <a href="{{pathFor 'aboutUs'}}">About Us</a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </nav>
  </template>
