<template name="home">
  <div class="row">
    <div class="col-md-12 panel panel-default mainWell">
      <div class="panel-body">
        Some Text!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 well homeWell pull-left">
      Some stuff
    </div>

    <div class="col-md-3 well homeWell">
      Some other stuff
    </div>

    <div class="col-md-3 well homeWell">
      Some different other stuff
    </div>
    <div class="col-md-1"></div>
  </div>
</template>


<template name="homeWell">
  <div class="col-md-3 well homeWell">
    {{text}}
  </div>
</template>
