!!! 5
html
  script(src='../js/libs/requirejs/require.js')
  script(src='../requireconfig.js')
  link(rel='stylesheet', type='text/css', href='../css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='../css/bootstrap-theme.css')
  link(href='../css/starterTemp.css', rel='stylesheet')
  head
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
          a.navbar-brand(href='../index.html') Homepage
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='../index.html') Home
            li
              a(href='./details.html') Details
          ul.nav.navbar-nav.pull-right
            li
              a(href='/logout') Logout
  body
    .container
      .starter-template
        script
          console.log(document.cookie.getAllResponseHeaders());
        h1 Successful Login Page
        p.lead You've logged in horray! Good work!