<template name="postPage">
  <div class="post-page page">
    <div class="title-image"><img class="postImage" src="{{frontImage}}"></div>
    <div class = "post-header">
      <h1 class="post-title">{{title}}</h1>
      <div class="meta">By {{author}} • On {{dateAndTime}} • In {{category}}</div>
    </div>
    <div class = "post-content">{{{content}}}</div>
    <div class="back-forward-nav row">
      {{#if hasPrevious}}
      <div class="nav-wrapper nav-previous pull-left">
        <p>« Previous Article</p>
        <a href="{{pathFor 'postPage' _id=previousPost.id}}">{{previousPost.title}}</a>
      </div>
      {{/if}}
      {{#if hasNext}}
      <div class="nav-wrapper nav-next pull-right">
        <p >Next Article »</p>
        <a href="{{pathFor 'postPage' _id=nextPost.id}}">{{nextPost.title}}</a>
      </div>
      {{/if}}
    </div>
    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
    <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
  </div>
</template>